.game-room {
	&-decision-wrapper {
		display: flex;
		flex-direction: row;
		align-content: center;
		flex-wrap: wrap;
		gap: 1px;
		justify-content: flex-start;
	}

	&-decision {
		font-size: 10vh;
		cursor: pointer;
	}
}
